/* TAILWIND CSS v4 VERSION */
@import "tailwindcss";

/* Custom colors for OTP page */
@theme {
  --color-screen: #dbebea;
  --color-card: #b1deff;
  --color-button: #5fa4e6;
  --color-button-hover: #4a8ac4;
  --color-text-primary: #5fa4e6;
  --color-otp-box: #7bc6ff;
  --color-borderbox: #a4d8ff;
  --radius-card: 20px;
  --radius-button: 10px;
  --radius-otp: 4px;
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;
  --color-bg-app: #dbebea;
}

/* Global layout styles */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

.input {
  width: 100%;
  height: 44px;
  padding: 0 12px;
  border-radius: var(--radius-button);
  border: 1px solid var(--color-text-muted);
  background: var(--color-bg-app);
  font-size: 14px;
  color: var(--color-text-main);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
